a:link {
        color: blue;
    }
a:visited {
        color: purple;
    }
.axis text {
    font: 10px Arial;
    shape-rendering: crispEdges;
    stroke: none;
    fill: #076dab;
}
.axis {
    fill: none;
    stroke: #0372b0;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
.grid line {
    fill: none;
    stroke: #0372b0;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.grid path,
.tick.axis path,
.y.axis {
    display: none;
}
.brush .extent {
    fill-opacity: 0;
    shape-rendering: crispEdges;
}
.grid-background {
    fill: #ffffff;
    fill-opacity: 1;
}
.slider .handle {
    fill: #ff0000;
    cursor: e-resize;
}
.slider .background {
    cursor: pointer !important;
    width: 200 !important;
}
.bottom-center-cluster {
    position: absolute;
    top: 120px;
    width: 960px;
    height: 40px;
}
.timestamp {
    width: 250px;
    height: 34px;
    margin-left: 380px;
    text-align: left;
    cursor: default;
    background-color: #E0E0E0;
    display: inline-block;
    font-family: 'avenir', arial, sans-serif;
    color: #65656a;
    background-color: #E0E0E0;
    position: absolute;
    opacity: 0.8;
    border: none;
    display: block;
    border-radius: 4px;
}
.timestamp .time {
    margin-left: 25px;
}
.timestamp .date {
    margin-left: 10px;
}
#playback {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -5px;
    left: 585px;
    font-weight: bold;
    color: #fff;
    background-color: #f38546;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#live {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -5px;
    left: 585px;
    font-weight: bold;
    color: #fff;
    background-color: #00C8FF;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#playback {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -5px;
    left: 585px;
    font-weight: bold;
    color: #fff;
    background-color: #f38546;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#playback {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -5px;
    left: 585px;
    font-weight: bold;
    color: #fff;
    background-color: #f38546;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#min {
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: 33px;
    top: -5px;
    left: 142px;
    font-weight: bold;
    color: #fff;
    background-color: #00D0FF;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#hour {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -10px;
    left: 142px;
    font-weight: bold;
    color: #fff;
    background-color: #00D0FF;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
#day {
    position: absolute;
    height: 25px;
    width: 66px;
    margin-top: 10px;
    margin-left: -30px;
    top: -10px;
    left: 220px;
    font-weight: bold;
    color: #fff;
    background-color: #00D0FF;
    opacity: 1;
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: block;
    border-radius: 4px;
}
.timestamp:hover {
    background: #f5f6f6;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #f5f6f6 0%, #edf2f1 21%, #f2f2f2 49%, #edf2f1 80%, #f5f6f6 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6f6), color-stop(21%, #edf2f1), color-stop(49%, #f2f2f2), color-stop(80%, #edf2f1), color-stop(100%, #f5f6f6));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #f5f6f6 0%, #edf2f1 21%, #f2f2f2 49%, #edf2f1 80%, #f5f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #f5f6f6 0%, #edf2f1 21%, #f2f2f2 49%, #edf2f1 80%, #f5f6f6 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #f5f6f6 0%, #edf2f1 21%, #f2f2f2 49%, #edf2f1 80%, #f5f6f6 100%);
    /* IE10+ */
    
    background: linear-gradient(top, #f5f6f6 0%, #edf2f1 21%, #f2f2f2 49%, #edf2f1 80%, #f5f6f6 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0);
    /* IE6-9 */
}
#rewind-30 {
    opacity: 1;
}
.rewind-30 {
    width: 40px;
    height: 40px;
}
.pause {
    width: 45px;
    height: 40px;
}
.stop {
    width: 40px;
    height: 40px;
}
.user-control-button {
    position: absolute;
    width: 180px;
    height: 40px;
    left: 230px;
    top: 115px;
}
.videobar {
    width: 100%;
    height: 50px;
    top: -46px;
}
.zoom {}